.container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container div {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-direction: column;
    flex-wrap: wrap;
  }


  .container p {
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
  }
  
  .container p svg {
    margin-left: 5px;
    font-size: 1.3rem;
    color: #304ffe !important;
  }
  
  .container a {
    color: grey;
    margin: 5px;
  }


  @media (max-width : 768px) {
    .container div{
      flex-direction: row;
    }
    .container p {
      justify-content: flex-start;
    }
  }